<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="margin-bottom-900">Create Your VERY OWN Budget!</h1>
      <div class="container_1">
        <a href="/login" class="btn-primary | margin-bottom-400"> Login</a>
        <a href="/signup" class="btn-secondary"> Signup</a>
      </div>
    </div>
  </body>
</html>
