body{
    background-color: lightblue;
}
h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

/*main page*/

button  a {
    text-decoration: none;
}
.itemContainer{
    border: 3px solid red;
    color: white; 
    background-color: rgb(72, 61, 61);
}
.mainContainer{
    
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}